
<div class="row">
    <div class="container">
      <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Agregar Imagen
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
            <app-agregarimg></app-agregarimg>
   
              </div>
            
            </div>
          </div>
        </div>
    </div>
    <!-- fin del modal -->



<div>
    <br>
    <br>
</div>
<div class="card m-2" style="width: 16rem;" *ngFor=" let imagen of imagenes2">
    <img [src]="imagen.avatar" class="card-img-top" alt="imagenes">
    <div class="card-body">
      <h5 class="card-title"><a>Cc: </a>{{imagen.cedula}}</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a>Nombre: </a>{{imagen.nombre}}</li>
        <li class="list-group-item"><a>Apellido: </a>{{imagen.apellido}}</li>
        <li class="list-group-item"><a>Edad  : </a>{{imagen.edad}}<a> Años</a></li>
       
        
        
    </ul>
    <br>
    <button type="button" class="btn btn-danger"(click)="eliminarImg(imagen.id)">Eliminar</button>
    </div>
  </div>
