
<div class="container-fluid">

    <div class="row">


        <!-- <div class="card m-2" style="width: 16rem;" *ngFor=" let video of data"> 
            <div class="ratio ratio-1x1">
                <iframe width="560" height="315" [src]="video.avatar" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div> -->

       <div class="card m-2" style="width: 16rem;">
        <div class="ratio ratio-1x1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0NX_9uiwIXo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        <div class="card-body">
          <h5 class="card-title">Alas de Mariposa</h5>
          <p class="card-text"><a>Artista: Gilberto Daza y Marcela Gandara</a></p>
          
        </div>
      </div>

      <div class="card m-2" style="width: 16rem;">
        <div class="ratio ratio-1x1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/HVAR85rorvU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"><a>Artista: </a></p>
          
        </div>
      </div>

      <div class="card m-2" style="width: 16rem;">
        <div class="ratio ratio-1x1">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GxPEH2Il8cM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"><a>Artista: </a></p>
          
        </div>
      </div>
    </div> 
</div>



